*{
    padding: 0px;
    margin: 0px;
}


@font-face {
    font-family: 'bug';
    src: url('Caveat-Bold.ttf') format('truetype');
    font-weight:bolder;
}

:root{
    --cor1:#833e08;
    --cor2:#f2b705;
    --cor3:#f29f05;
    --cor4:#bf3604;
    --cor5:#0d0d0d;

    --minha-font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --shopfont:'bug';
}

body{
    background-image: linear-gradient(45deg,#000000,#0e0e018f);
}
.comida{
    border: 2px solid black;
    width: 424px;
    height: 300px;
    display: inline-block;
    margin-left:8px ;
    margin-right: 1px;
    margin-bottom: 5px;
    margin-top: 5px;

}

header{
    color: white;
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor4));
    padding: 10px;
    min-height: 155px;
}

header>h1{
    margin-bottom: 15px;
    font-weight: bolder;
    font-family: var(--shopfont);
    font-size: 50px;
    text-align: center;
}

header>p{
    font-family: var(--minha-font);
    font-size: 16px;
    text-align: center;
    padding: 15px;
    line-height: 22px;
    font-weight: 400;
}
div#p1{

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     overflow: hidden;
     border-radius: 10px;
     border-color: white;
     width: 1300px;
     height: 400px;
}

div#p1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*-------------------------------------------*/

div#p2{

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     overflow: hidden;
     border-radius: 10px;
     border-color: white;
}

div#p2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

div#p2 img:hover {
    transform: scale(1.15);
}

/*-------------------------------------------*/

div#p3{

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     overflow: hidden;
     border-radius: 10px;
     border-color: white;
}

div#p3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

div#p3 img:hover {
    transform: scale(1.15);
}

/*-------------------------------------------*/

div#p4{

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     overflow: hidden;
     border-radius: 10px;
     border-color: white;
}

div#p4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

div#p4 img:hover {
    transform: scale(1.15);
}

/*-------------------------------------------*/

div#p5{

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     overflow: hidden;
     border-radius: 10px;
     border-color: white;
}

div#p5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

div#p5 img:hover {
    transform: scale(1.15);}

    
/*-------------------------------------------*/

div#p6{

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     overflow: hidden;
     border-radius: 10px;
     border-color: white;
}

div#p6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

div#p6 img:hover {
    transform: scale(1.15);}

 /*-------------------------------------------*/

 div#p7{

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     overflow: hidden;
     border-radius: 10px;
     border-color: white;
}

div#p7 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

div#p7 img:hover {
    transform: scale(1.15);}